* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  height: 100vh;
}

h3 {
  font-family: sans-serif;
  font-size: 50px;
  text-shadow: white 0px 0px 5px;
  color: white;
}

#count {
  font-family: sans-serif;
  font-size: 25px;
  text-shadow: white 0px 0px 5px;
  color: violet;
}

#text {
  border: 5px solid white;
  border-radius: 5px;
  background-color: black;
  color: green;
  font-size: 30px;
  text-shadow: green 0px 0px 8px;
}

#num {
  color: yellow;
  font-size: 25px;
  text-shadow: yellow 0px 0px 8px;
}
